$black: #19191A;
$white: #FFFFFF;
$blue: #0577DA;
$turqoise: #1ABC9C;
$red: #FF5722;
$purple: #3F51B5;


// Colors
$page-turqoise: #1ABC9C;
$page-greenSea: #16A085;
$page-emerald: #2ECC71;
$page-green: #27AE60;
$page-green-haze: #019875;
$page-gossip: #87D37C;
$page-river: #3498DB;
$page-blue: #2980D9;
$page-amethyst: #9B59B6;
$page-purple: #8E44AD;
$page-asphalt: #34495E;
$page-nightly: #2C3E50;
$page-sun: #F1C40F;
$page-orange: #F39C12;
$page-carrot: #E67E22;
$page-pumpkin: #D35400;
$page-rose: #E74C3C;
$page-red: #C0392D;
$page-powder: #ECF0F1;
$page-silver: #BDC3C7;
$page-concrete: #95A5A6;
$page-grey: #7F8C8D;
$page-cabaret: #D2527F;
$page-sunglo: #E26A6A;
