---
layout: default
---

<!-- Intro Section -->
<section id="intro">
   <div class="header">
      <div class="container">
         <div class="row">
            <div class="small-7">
               <h1>Tristan White</h1>
               <h2>Designer, Developer & Somewhat Unicorn-like</h2>
               <a href="{{ site.baseurl }}/#about" class="btn one">Learn more...</a>
               <a href="{{ site.baseurl }}/#work" class="btn one">See my work...</a>
            </div>
            <div class="small-5">
               <div id="logo">
                  <div class="cube-1">
                     <div class="face front"></div>
                     <div class="face back"></div>
                     <div class="face left"></div>
                     <div class="face right"></div>
                     <div class="face top"></div>
                     <div class="face bottom"></div>
                  </div>
                  <div class="cube-2">
                     <div class="face front"></div>
                     <div class="face back"></div>
                     <div class="face left"></div>
                     <div class="face right"></div>
                     <div class="face top"></div>
                     <div class="face bottom"></div>
                  </div>
                  <div class="cube-3">
                     <div class="face front"></div>
                     <div class="face back"></div>
                     <div class="face left"></div>
                     <div class="face right"></div>
                     <div class="face top"></div>
                     <div class="face bottom"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<section id="about">
   <div class="intro-video">
      <div class="container">
         <div class="row">
            <div class="medium-10 medium-offset-1">
               <h1>About me</h1>
               <div class="responsive-video">
                  <iframe src="https://www.youtube.com/embed/DgDg2ddiKIo"></iframe>
               </div>
               <p>
                  Hi! My name is <strong>Tristan White</strong>, I'm a designer, developer and somewhat unicorn-like.
                  I was born and raised in a small town in Denmark.
                  Today I am proud to call myself a <strong>full-stack web developer</strong>.
                  I love making beautiful, yet practical websites and applications.
                  I would enjoy the opportunity to collaborate on your next project,
                  so drop me an <a href="mailto:olver.tristan@gmail.com.com?Subject=Hi%20Tristan" target="_top">email</a> and lets get to work!
               </p>
            </div>
         </div>
      </div>
   </div>
</section>


<!-- Work Section -->
<section id="work">
   <div class="container">
      <h1>Recent Work</h1>
      <div class="row">
         <div class="small-7">
            <div class="work-text">
               <h2>Kærholmbyg</h2>
               <p>The client, Kurt Mikkelsen, wanted a modern and simple, yet conservative website. I was able to meet the client's demands by using a series of colors to reflect the a highclass look he was after.</p>
               <a href="http://kærholmbyg.dk/" target="_target" class="btn one">Visit kærholmbyg.dk</a>
            </div>
         </div>
         <div class="small-4 small-offset-1">
            <div class="work-image">
               <img src="https://placeimg.com/600/500/any" alt="">
            </div>
         </div>
      </div>

      <div class="row">
         <div class="small-7">
            <div class="work-text">
               <h2>Gridder</h2>
               <p>Gridder is an extremely lightweight and simple CSS grid system. It's perfect for building small websites and for prototyping projects</p>
               <a href="http://www.gridder.io/" target="_target" class="btn one">Visit gridder.io </a>
            </div>
         </div>
         <div class="small-4 small-offset-1">
            <div class="work-image">
               <img src="{{ site.baseurl }}/assets/img/work/gridder.jpg" alt="">
            </div>
         </div>
      </div>

      <div class="row">
         <div class="small-7">
            <div class="work-text">
               <h2>Annette Petersen</h2>
               <p>Annette Petersen wanted a simple and elegant way to showcase her photography work. She wanted her images to look crisp and to scale to all screensizes. Be it a 5K screen to a small phone.</p>
               <a href="http://www.annettepetersen.dk/" target="_target" class="btn one">Visit annettepetersen.dk</a>
            </div>
         </div>
         <div class="small-4 small-offset-1">
            <div class="work-image">
               <img src="{{ site.baseurl }}/assets/img/work/annettepetersen.jpg" alt="">
            </div>
         </div>
      </div>
   </div>
</section>


<section id="content">
   <div class="container">
      <div class="row">
         <div class="medium-7">
            <div class="articles">
               <h1>Articles</h1>
               {% for post in site.categories.article limit:3 %}
               <article>
                  <div class="title">
                      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </div>
                  <div class="date">{{ post.date | date: "%b %-d, %Y" }}</div>
                  <div class="excerpt">{{ post.excerpt }}</div>
               </article><hr>
               {% endfor %}
               <a href="{{ site.baseurl }}/articles/" class="btn three">Read more...</a>
            </div>
         </div>
         <div class="medium-5">
            <div class="videos">
               <h1>Videos</h1>
               {% for post in site.categories.video limit:3 %}
                   <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                      <img src="{{ site.baseurl }}/{{ post.thumbnail }}" alt="{{ post.title }}">
                      <span class="playtime">{{ post.time }}</span>
                   </a>
               {% endfor %}
               <a href="{{ site.baseurl }}/videos/" class="btn two">See more...</a>
            </div>
         </div>
      </div>
   </div>
</section>


<!-- Contact Section -->
<a href="mailto:olver.tristan@gmail.com.com?Subject=Hi%20Tristan" target="_top" id="contact">oliver.tristan@gmail.com</a>
