---
layout: default
---

<!-- Intro Section -->
<section id="intro">
   <div class="header">
      <div class="container">
         <div class="row">
            <div class="small-7">
               <h1>Tristan White</h1>
               <h2>Designer, Developer & Somewhat Unicorn-like</h2>
               <a href="{{ site.baseurl }}/#about" class="btn one">Learn more...</a>
               <a href="{{ site.baseurl }}/#work" class="btn one">See my work...</a>
            </div>
            <div class="small-5">
               <div id="logo">
                  <div class="cube-1">
                     <div class="face front"></div>
                     <div class="face back"></div>
                     <div class="face left"></div>
                     <div class="face right"></div>
                     <div class="face top"></div>
                     <div class="face bottom"></div>
                  </div>
                  <div class="cube-2">
                     <div class="face front"></div>
                     <div class="face back"></div>
                     <div class="face left"></div>
                     <div class="face right"></div>
                     <div class="face top"></div>
                     <div class="face bottom"></div>
                  </div>
                  <div class="cube-3">
                     <div class="face front"></div>
                     <div class="face back"></div>
                     <div class="face left"></div>
                     <div class="face right"></div>
                     <div class="face top"></div>
                     <div class="face bottom"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<!-- About Section -->
<section id="about">
   <div class="intro-video">
      <div class="container">
         <div class="row">
            <div class="tiny-12">
               <h1>About me</h1>
               <p>Hi! My name is <strong>Tristan White</strong>, I'm a designer, developer and somewhat unicorn-like. I was born and raised in a small town in Denmark. Today I am proud to call myself a <strong>full-stack web developer</strong>. I love making beautiful, yet practical websites and applications. I would enjoy the opportunity to collaborate on your next project, so drop me an <a href="mailto:olver.tristan@gmail.com.com?Subject=Hi%20Tristan" target="_top">email</a> and lets get to work!</p>
                <hr>
                <h2>What I'm working on</h2>
                <div class="row current">
                  <div class="small-4">
                    <svg width="94px" height="92px" viewBox="0 0 94 92" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Artboard-1" sketch:type="MSArtboardGroup" transform="translate(-292.000000, -110.000000)" stroke="#19191A" stroke-width="4">
                          <g id="book" sketch:type="MSLayerGroup" transform="translate(294.000000, 113.000000)">
                            <path d="M39.8144188,85.0895233 L7,73 L7,7.10542736e-15 L39.8144188,12.0895233 C43.1615067,13.3226623 46.8384934,13.3226623 50.1855774,12.0895233 L83,7.10542736e-15 L83,73 L50.1855774,85.0895233 C46.8384933,86.3226624 43.1615067,86.3226624 39.8144188,85.0895233 L39.8144188,85.0895233 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                            <path d="M45,62.0419388 L45,13" id="Shape" sketch:type="MSShapeGroup"></path>
                            <path d="M45,75 L45,72.0419388" id="Shape" sketch:type="MSShapeGroup"></path>
                            <path d="M83.128746,9.7634735 L90,9 L90,82 L46.6564713,86.8159485 C45.555542,86.9382706 44.4444581,86.9382706 43.3435288,86.8159485 L0,82 L0,9 L6.8712578,9.7634735" id="Shape" sketch:type="MSShapeGroup"></path>
                          </g>
                        </g>
                      </g>
                    </svg>
                    <h3>Textacular</h3>
                    <p>An online collaborative writing app currently in development</p>
                  </div>
                  <div class="small-4">
                    <svg width="94px" height="92px" viewBox="0 0 189 228" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="gridder-logo" sketch:type="MSLayerGroup" transform="translate(114.000000, 113.292893) rotate(45.000000) translate(-114.000000, -113.292893) translate(33.500000, 32.792893)">
                          <rect id="Rectangle-1" fill="#19191A" sketch:type="MSShapeGroup" x="56" y="1" width="50" height="50"></rect>
                          <rect id="Rectangle-2" fill="#19191A" sketch:type="MSShapeGroup" x="1" y="1" width="50" height="50"></rect>
                          <rect id="Rectangle-3" fill="#19191A" sketch:type="MSShapeGroup" x="1" y="56" width="50" height="50"></rect>
                          <rect id="Rectangle-4" fill="#19191A" sketch:type="MSShapeGroup" x="1" y="111" width="50" height="50"></rect>
                          <rect id="Rectangle-5" fill="#19191A" sketch:type="MSShapeGroup" x="56" y="111" width="50" height="50"></rect>
                          <rect id="Rectangle-6" fill="#19191A" sketch:type="MSShapeGroup" x="111" y="111" width="50" height="50"></rect>
                          <rect id="Rectangle-7" fill="#19191A" sketch:type="MSShapeGroup" x="111" y="56" width="50" height="50"></rect>
                        </g>
                      </g>
                    </svg>
                    <h3>Gridder</h3>
                    <p>A lightweight CSS grid framework based on flexbox. <a href="https://gridder.io" target="_top" title="https://gridder.io">Learn more</a></p>
                  </div>
                  <div class="small-4">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90" style="enable-background:new 0 0 90 90;" xml:space="preserve">
                    <g>
                      <path id="YouTube__x28_alt_x29_" d="M90,26.958C90,19.525,83.979,13.5,76.55,13.5h-63.1C6.021,13.5,0,19.525,0,26.958v36.084C0,70.475,6.021,76.5,13.45,76.5h63.1C83.979,76.5,90,70.475,90,63.042V26.958z M36,60.225V26.33l25.702,16.947L36,60.225z"/>
                    </g>
                  </svg>
                  <h3>YouTube videos</h3>
                  <p>I make instructional videos on YouTube. <a href="https://www.youtube.com/channel/UCxnhnHu17q4Zk4m9-7BL5dw" title="https://www.youtube.com/channel/UCxnhnHu17q4Zk4m9-7BL5dw" target="_top">Check it out.</a></p>
                  </div>
                </div>
            </div>
         </div>
      </div>
   </div>
</section>


<!-- Work Section -->
<section id="work">
  <div class="container">
    <h1>Some client work</h1>
    <div class="row">
      <div class="small-3"><img class="client-logo" src="assets/img/work/logo_arkm.png" alt="arkm logo"></div>
      <div class="small-3"><img class="client-logo" src="assets/img/work/logo_arkdesigndk.png" alt="arkdesigndk logo"></div>
      <div class="small-3"><img class="client-logo" src="assets/img/work/logo_holmefestuge.png" alt="holmefestuge logo"></div>
      <div class="small-3"><img class="client-logo" src="assets/img/work/logo_ryghseter.png" alt="ryghseter logo"></div>
    </div>
    <div class="row">
      <div class="tiny-12">
        <div class="showcase">
          <img src="assets/img/work/work-2.png" class="work-item left" alt="work image two">
          <img src="assets/img/work/work-1.png" class="work-item center" alt="work image one">
          <img src="assets/img/work/work-3.png" class="work-item right" alt="work image three">
        </div>
      </div>
    </div>
</section>

<section id="content">
   <div class="container">
      <div class="row">
         <div class="medium-7">
            <div class="articles">
               <h1>New articles</h1>
               {% for post in site.categories.article limit:3 %}
               <article>
                  <div class="title">
                     <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </div>
                  <div class="date">{{ post.date | date: "%b %-d, %Y" }}</div>
                  <div class="excerpt">{{ post.excerpt }}</div>
               </article>
               <hr> {% endfor %}
               <a href="{{ site.baseurl }}/articles/" class="btn three">Read more...</a>
            </div>
         </div>
         <div class="medium-5">
            <div class="videos">
               <h1>New videos</h1>
               {% for post in site.categories.video limit:3 %}
               <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                  <img src="{{ site.baseurl }}/{{ post.thumbnail }}" alt="{{ post.title }}">
                  <span class="playtime">{{ post.time }}</span>
               </a>
               {% endfor %}
               <a href="{{ site.baseurl }}/videos/" class="btn two">See more...</a>
            </div>
         </div>
      </div>
   </div>
</section>


<!-- Contact Section -->
<a href="mailto:olver.tristan@gmail.com.com?Subject=Hi%20Tristan" target="_top" id="contact">oliver.tristan@gmail.com</a>
