body {
   background: darken($white, 4%);
}
.wrapper {
   margin: 0 0 0 200px;
   padding: 0;
   float: left;
   overflow: hidden;
   width: calc(100% - 200px);
   @include transition(200ms);
   @media (max-width: 992px) {
      margin: 0;
      width: 100%;
   }
}
