footer {
   background: darken($white, 4%);
   text-align: center;
   padding: 20px 0 20px 0;
   margin: 20px 0 0 0;

   .social {
      .item {
         width: 50px;
         display: inline-block;
         svg {
            width: 40px;
            height: 40px;
            g {
               path {
                  @include transition(150ms);
               }
            }
         }
         &:hover {
            svg{
               g{
                  path{
                     fill: $turqoise;
                  }
               }
            }
         }
      }
      #codepen, #linkedin {
         padding-top: 5px;
      }

   }
}
