//Tools - Often thrid party stuff or global variables
@import '1-tools/normalize';
@import '1-tools/gridder';
@import '1-tools/colors';
@import '1-tools/mixins';
@import '1-tools/typography';
@import '1-tools/highlight';

//Base - CSS used throughout the project or app, e.g. a navigation
@import '2-base/wrapper';
@import '2-base/buttons';
@import '2-base/navigation';
@import '2-base/video';

//Pages - Styles specific to the different pages
@import "3-pages/home";
@import '3-pages/articles';
@import '3-pages/videos';
@import '3-pages/footer';
@import '3-pages/store';
@import '3-pages/branding';
